<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>{% if page.title %}{{ page.title }} | {% endif %}de·crypto</title>
        <link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔐</text></svg>'>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
        <link rel='stylesheet' href='{{ get_url(path='main.css', trailing_slash=false) }}'>
    </head>
    <body>
        <header id='header' class='text-center'>
            <h1><a href='/'>de·crypto</a></h1>
            <p>decentralized academic research group<br />
               for the political applications of cryptography</p>
            <nav id='header-nav'>
                <ul class='nav justify-content-center'>
                    {% for pg in config.extra.ourpages %}
                    <li class='navitem'>
                        {% if current_path == pg.path %}
                        <strong class='nav-link'>{{ pg.title }}</strong>
                        {% else %}
                        <a class='nav-link' href='/{{ pg.path }}'>{{ pg.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- <p>
                <a href='' class='btn btn-primary'>Meet the team</a>
            </p> -->
        </header>
        <main class='container'>
            {% block content %}
            <h2>Our group</h2>
            <p>
                Decrypto is a decentralized and independent research group
                focusing on blockchain research. We run semester-long research
                projects in affiliation with many universities. Many of our
                research papers have stemmed out of bachelor or master theses.
                Our work is peer-reviewed and appears in many top conferences
                of the field.
            </p>
            <h2>Seminar</h2>
            <p>
                We run <a href='/seminar'>a weekly seminar</a> in which
                leading researchers in the field present a research-level
                topic in the field of blockchain science. Our seminars are
                held online and are open to all.
            </p>

            <h3>Papers</h3>
            <ul>
                <li>
                    <a href='https://eprint.iacr.org/2017/963.pdf'>Non-Interactive Proofs of Proof-of-Work</a><br />
                    Aggelos Kiayias,
                    Andrew Miller,
                    Dionysis Zindros
                    at <strong>Financial Cryptography</strong> 2020
                </li>
                <li>
                    <a href='https://eprint.iacr.org/2019/1096.pdf'>Proof of Burn</a><br />
                    Kostis Karantias,
                    Aggelos Kiayias,
                    Dionysis Zindros
                    at <strong>Financial Cryptography</strong> 2020
                </li>
                <li>
                    <a href="https://tik-db.ee.ethz.ch/file/4afd9ccaf69bcbdc7e0fd79cdb1e9c0d/Cerberus_Channels_arXiv.pdf">Cerberus Channels: Incentivizing Watchtowers for Bitcoin</a><br />
                    Georgia Avarikioti,
                    Orfeas Stefanos Thyfronitis Litos,
                    Roger Wattenhofer
                    at <strong>Financial Cryptography</strong> 2020
                </li>
                <li>
                    <a href="https://raw.githubusercontent.com/OrfeasLitos/PaymentChannels/master/paymentChannels.pdf">A Composable Security Treatment of the Lightning Network</a><br />
                    Aggelos Kiayias,
                    Orfeas Stefanos Thyfronitis Litos
                    at <strong>Computer Security Foundations</strong> 2020
                </li>
                <li>
                    <a href='https://eprint.iacr.org/2020/525.pdf'>Account Management in Proof of Stake Ledgers</a><br />
                    Dimitris Karakostas,
                    Aggelos Kiayias,
                    Mario Larangeira
                    at <strong>Security and Cryptography for Networks</strong> 2020
                </li>
                <li>
                    <a href='https://eprint.iacr.org/2020/927.pdf'>Implementing a Gas-efficient Superlight Bitcoin Client in Solidity</a><br />
                    Stelios Daveas,
                    Kostis Karantias,
                    Aggelos Kiayias,
                    Dionysis Zindros
                    at <strong>Advances in Financial Technologies</strong> 2020
                </li>
                <li>
                    <a href="https://eprint.iacr.org/2020/138.pdf">Smart Contract Derivatives</a><br />
                    Kostis Karantias,
                    Aggelos Kiayias,
                    Dionysis Zindros
                    at <strong>MARBLE</strong> 2020
                </li>
                <li>
                    <a href="https://eprint.iacr.org/2019/1444.pdf">Compact Storage of Superblocks for NIPoPoW Applications</a><br />
                    Kostis Karantias,
                    Aggelos Kiayias,
                    Nikos Leonardos,
                    Dionysis Zindros
                    at <strong>MARBLE</strong> 2019
                </li>
                <li>
                    <a href="https://eprint.iacr.org/2018/1239.pdf">Proof-of-Stake Sidechains</a><br />
                    Peter Gaži,
                    Aggelos Kiayias,
                    Dionysis Zindros
                    at <strong>IEEE Security &amp; Privacy</strong> 2019
                </li>
                <li>
                    <a href="https://arxiv.org/pdf/1907.02434.pdf">Cryptocurrency Egalitarianism:A Quantitative Approach</a><br />
                    Dimitris Karakostas,
                    Aggelos Kiayias,
                    Christos Nasikas,
                    Dionysis Zindros
                    at <strong>TOKENOMICS</strong> 2019
                </li>
                <li>
                    <a href="https://raw.githubusercontent.com/OrfeasLitos/fairPostOrdering/master/contentCuration.pdf">A Puff of Steem: Security Analysis of Decentralized Content Curation</a><br />
                    Aggelos Kiayias,
                    Benjamin Livshits,
                    Andrés Monteoliva Mosteiro,
                    Orfeas Stefanos Thyfronitis Litos
                    at <strong>TOKENOMICS</strong> 2019
                </li>
                <li>
                    <a href='https://eprint.iacr.org/2019/034.pdf'>A Formal Treatment of Hardware Wallets</a><br />
                    Myrto Arapinis,
                    Andriana Gkaniatsou,
                    Dimitris Karakostas,
                    Aggelos Kiayias
                    at <strong>Financial Cryptography</strong>
                    2019
                </li>
                <li>
                    <a href='https://eprint.iacr.org/2018/1048.pdf'>Proof-of-Work Sidechains</a><br />
                    Aggelos Kiayias, Dionysis Zindros
                    at <strong>Financial Cryptography Workshop on Trusted Smart Contracts</strong>
                    2019
                </li>
                <li>
                    <a href="https://spiral.imperial.ac.uk/bitstream/10044/1/75810/5/2019-1128.pdf">SoK: Communication Across Distributed Ledgers</a><br />
                    Alexei Zamyatin,
                    Mustafa Al-Bassam,
                    Dionysis Zindros,
                    Eleftherios Kokoris-Kogias,
                    Pedro Moreno-Sanchez,
                    Aggelos Kiayias,
                    William J Knottenbelt,
                    2019
                </li>
                <li>
                    <a href='https://arxiv.org/pdf/1811.01348.pdf'>Structure and Content of the Visible Darknet</a><br />
                    Georgia Avarikioti, Roman Brunner, Aggelos Kiayias, Roger Wattenhofer, Dionysis Zindros,
                    2018
                </li>
                <li>
                    <a href='https://eprint.iacr.org/2017/156.pdf'>Trust Is Risk: A Decentralized Financial Trust Platform</a><br />
                    Orfeas Stefanos Thyfronitis Litos,
                    Dionysis Zindros
                    at <strong>Financial Cryptography</strong> 2017
                </li>
            </ul>

            <h3>Theses</h3>
            <ul>
                <li>
                    <a href='https://github.com/andripol/thesis/blob/master/thesis.pdf'>A Study on Superlight Blockchain Clients under Velvet Fork</a><br />
                    Andrianna Polydouri,
                    Master Thesis 2020, <strong>University of Athens</strong>
                </li>
                <li>
                    <a href='https://github.com/sdaveas/nipopow-verifier/blob/master/thesis/thesis.pdf'>Implementing a Gas-efficient Superlight Bitcoin Client in Solidity</a><br />
                    Stelios Daveas,
                    Master Thesis 2020, <strong>University of Athens</strong>
                </li>
                <li>
                    <a href='https://dionyziz.com/thesis.pdf'>Decentralized Blockchain Interoperability</a><br />
                    Dionysis Zindros,
                    PhD Thesis 2020, <strong>University of Athens</strong>
                </li>
                <li>
                    <a href='https://gtklocker.com/thesis.pdf'>Enabling NIPoPoW Applications on Bitcoin Cash</a><br />
                    Kostis Karantias,
                    Master Thesis 2019, <strong>University of Ioannina</strong>
                </li>
                <li>
                    <a href="http://alma.di.uoa.gr/sites/default/files/2020-01/thesis.pdf">Monero mining: CryptoNight Analysis</a><br />
                    Orestis Konstantinidis,
                    Master Thesis 2019,
                    <strong>University of Athens</strong>
                </li>
                <li>
                    <a href="https://github.com/dionyziz/popow/tree/crosschain-nipopow/experiment">Enabling crosschain transactions using NIPoPoWs</a><br/>
                    Giorgos Christoglou,
                    Master Thesis 2018,
                    <strong>Imperial College London</strong>
                </li>
                <li>
                    <a href="https://github.com/decrypto-org/spider">Structure and Content of the Visible Darknet</a><br/>
                    Roman Brunner,
                    Bachelor Thesis 2018,
                    <strong>ETH Zürich</strong>
                </li>
                <li>
                    <a href="https://github.com/OrfeasLitos/TrustIsRisk.js/tree/spv-extension">A bcoin.js Implementation of Trust-is-Risk</a><br/>
                    Christos Porios,
                    Bachelor Thesis 2017,
                    <strong>Imperial College London</strong>
                </li>
                <li>
                    <a href='https://github.com/OrfeasLitos/TrustIsRisk/blob/master/thesis/wholethesis.pdf'>Trust Is Risk: A Decentralized Financial Trust Platform</a><br />
                    Orfeas Stefanos Thyfronitis Litos,
                    Master Thesis 2017, <strong>National Technical University of Athens</strong>
                </li>
                <li>
                    <a href="https://github.com/esarafianou/rupture-thesis/raw/master/thesis.pdf">Creation of a Tool for Attacks Against Compression, Encrypted Protocols</a><br />
                    Eva Sarafianou,
                    Master Thesis 2017,
                    <strong>National Technical University of Athens</strong>
                </li>
                <li>
                    <a href="https://pergamos.lib.uoa.gr/uoa/dl/frontend/file/lib/default/data/1759139/theFile/1759140">Extending the Rupture compression attack framework against real world systems</a><br />
                    Dimitris Grigoriou,
                    Bachelor Thesis 2017,
                    <strong>University of Athens</strong>
                </li>
                <li>
                    <a href="https://dspace.lib.ntua.gr/xmlui/bitstream/handle/123456789/44116/main.pdf?sequence=1">Implementation of a Multi-party Off-the-Record messaging protocol</a><br />
                    Kostis Andrikopoulos,
                    Dimitris Kolotouros,
                    Master Thesis 2016,
                    <strong>National Technical University of Athens</strong>
                </li>
                <li>
                    <a href="https://dimkarakostas.com/probabilistic_attacks.pdf">Probabilistic attacks against compressed, encrypted protocols</a><br />
                    Dimitris Karakostas,
                    Master Thesis 2016,
                    <strong>National Technical University of Athens</strong>
                </li>
            </ul>
            {% endblock content %}
        </main>
        <footer id='footer' class='text-center fixed-bottom'>
            <div class='support'>
                <p>Decrypto is an independent research group focused
                   on blockchain research.<br />We are affiliated with the
                   University of Athens, University of Edinburgh, ETH Zurich,
                   and many other universities around the world.
                </p>
                <!-- <p>We're always looking for new funding partnerships.</p> -->
                <!-- <a href='#' class='btn btn-primary'>Support us</a> -->
            </div>
        </footer>

        <script data-goatcounter="https://decrypto.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </body>
</html>
